@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;

  font-family: 'PT Sans', sans-serif;
}


.employee{
  color: white;
}
.radio-empployee{
  color: black;
}
h2,h4{
  margin-top: 70px;
  margin-left: 300px;
}
b{
  margin-left: 10px;
}
